.people{
    margin-top: 5em;
    &__list{
        background-color: rgba($color: $color-white, $alpha: .1);
        margin: 1em 0;
        border-radius: 4px;
        border-left: 5px solid;

        &:nth-child(odd){
            border-color: $color-blue;
        }
        &:nth-child(even){
            border-color: $color-green;
        }

        &-container{
            @include flex(space-between, center);
        }
        &-item{
            @include flex(flex-start, flex-start);
            padding: 10px;
        }
    }
    &__description{
        @include font-nunitosans(16px);
        padding-top: 1em;
        color: $color-white;

        &-text{
            @include font-nunitosans(14px);
            padding-top: .5em;
            color: rgba($color: $color-white, $alpha: .6);
        }
    }
    &__avatar{
        width: 5em;
        height: 5em;
        border-radius: 50%;
        border: 1px solid rgba($color: $color-white, $alpha: .2);

        &-container{
            margin-right: 1em;
        }
    }
    &__title{
        @include font-nunitosans(30px);
        color: $color-white;
        text-align: center;
        margin-bottom: 1em;
    }
}


.block{
    &__flex-container{
        @include flex(space-between, space-between);     
    }
}