.map{
    &__svg-container{
        margin-bottom: 5%;
    }
    &__container{
        position: relative;
    }
    &__title{
        @include font-nunitosans(30px);
        color: $color-white;
        text-align: center;
        text-transform: uppercase;
        // margin-top: 5em;
    }
    &__btn{
        padding: 1em 2em 1em 2em;
        color: $color-white;
        @include font-nunitosans(16px);
        cursor: pointer;
        width: 100%;
        position: relative;
        background: rgba(95,39,205,1);
        border-radius: 3px;
        

        &:hover{
            background-color:rgba(41,24,122,1);
        }    
    }
    input[type="radio"]{
        position: absolute;
        top: 0;
        left: -3em;
        visibility: hidden;
        
        &#airspace:checked{
            & ~ .map__airspace-container{
                position: relative;
                display: block;

            }
        }
        &#rusanction:checked{
            & ~ .map__rusanction-container{
                position: relative;
                display: block;
            }
        }
        &#novisa:checked{
            & ~ .map__novisa-container{
                position: relative;
                display: block;
            }
        }
        &#ruposition:checked{
            & ~ .map__ruposition-container{
                position: relative;
                display: block;
            }
        }
        
    }
    &__container{
        margin: 1em 0;
        img{
            width: 100%;
            height: auto;
        }
    }
    &__airspace, &__rusanction, &__novisa, &__ruposition{
        &-title{
            @include font-nunitosans(20px);
            color: $color-white;
            text-align: center;
            margin-bottom: 1em;
        }
    }
    &__airspace-container, &__rusanction-container, &__novisa-container, &__ruposition-container{
        transform: translateY(10%);
        transition: .2s;
        position: absolute;
        display: none;
        width: 100%;
    }
 
}